<h1>Our Tours</h1>
<!-- PUT UNDERLINE HERE -->

<div *ngFor="let data of datas">
  <img src="{{ data.image }}" alt="{{ data.name }}" />
  <div>
    <h3>{{ data.name }}</h3>
    <!-- SEE IF PIPE IS BETTER HERE -->
    <h3>${{ data.price }}</h3>
  </div>
  <div>
    <p>
      {{ readMore === true ? data.info : data.info.substring(0, 200) + "..."
      }}<button (click)="toggleReadMore()">{{readMore === true ? "Show Less" : "Read More"}}</button>
    </p>
  </div>
  <button (click)="filterOut(data.id)">Not Interested</button>
</div>

<button *ngIf="datas.length === 0">Refresh</button>