.title {
    text-align: center;
}
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.single-tour {
    width: 80vw;
    margin: 2rem 0;
    border: 1px solid rgba(0,0,0,0.2);
}
.single-tour-img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
}
.tour-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;    
}
.tour-info {
    padding: 0 1rem;
}
.tour-info p {
    letter-spacing: 0.1rem;
}
.view-button {
    border: none;
    background: transparent;
    color: aqua;
    font-weight: bold;
    font-style: italic; 
    cursor: pointer;
    font-size: large;
}
.delete-btn-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.delete-btn {
    border: 1px solid red;
    background-color: transparent;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    color: rgb(219, 26, 26);
}
.delete-btn:hover {
    border: 1px soild white;
    background-color: red;
    color: white;
}
.refresh-button {
    border: aqua;
    background-color:aqua;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}